In [62]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import LabelEncoder

In [63]:
def get_title(index):
    return dataset[dataset.index == index]['title'].values[0]

In [64]:
def get_index(title):
    return dataset[dataset.title == title]["new_id"].values[0]

In [65]:
dataset = pd.read_csv("G:/Software/Machine learning/Datasets/Movie Recommendation/movieRecomend.csv")

In [66]:
dataset.isnull().sum()

budget                   0
genres                   0
homepage                64
id                       0
keywords                 2
original_language        0
original_title           0
overview                 0
popularity               0
production_companies     0
production_countries     0
release_date             0
revenue                  0
runtime                  0
spoken_languages         0
status                   0
tagline                  7
title                    0
vote_average             0
vote_count               0
cast                     0
crew                     0
director                 4
dtype: int64

In [67]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 23 columns):
budget                  257 non-null int64
genres                  257 non-null object
homepage                193 non-null object
id                      257 non-null int64
keywords                255 non-null object
original_language       257 non-null object
original_title          257 non-null object
overview                257 non-null object
popularity              257 non-null float64
production_companies    257 non-null object
production_countries    257 non-null object
release_date            257 non-null object
revenue                 257 non-null int64
runtime                 257 non-null int64
spoken_languages        257 non-null object
status                  257 non-null object
tagline                 250 non-null object
title                   257 non-null object
vote_average            257 non-null float64
vote_count              257 non-null int64
cast                    257 non-null object
crew                    257 non-null object
director                253 non-null object
dtypes: float64(2), int64(5), object(16)
memory usage: 46.3+ KB

In [68]:
dataset.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [69]:
labelencoder_X = LabelEncoder()
dataset['new_id']= labelencoder_X.fit_transform(dataset['id'])

In [70]:
dataset.isnull().sum()

budget                   0
genres                   0
homepage                64
id                       0
keywords                 2
original_language        0
original_title           0
overview                 0
popularity               0
production_companies     0
production_countries     0
release_date             0
revenue                  0
runtime                  0
spoken_languages         0
status                   0
tagline                  7
title                    0
vote_average             0
vote_count               0
cast                     0
crew                     0
director                 4
new_id                   0
dtype: int64

In [71]:
features = ['genres' , 'keywords' , 'cast' , 'director']
features

['genres', 'keywords', 'cast', 'director']

In [72]:
for feature in features:
    dataset[feature] = dataset[feature].fillna('')

NameError: name 'df' is not defined

In [50]:
def combine_feature(row):
    return row['keywords'] +" "+ row['cast'] +" "+ row['genres'] +" "+ row['director']

In [51]:
dataset['combined_feature'] = dataset.apply(combine_feature , axis = 1)

In [ ]:
dataset.isnull().sum()

In [52]:
dataset.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,status,tagline,title,vote_average,vote_count,cast,crew,director,new_id,combined_feature
0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron,123,culture clash future space war space colony so...
1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski,10,ocean drug abuse exotic island east india trad...
2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes,236,spy based on novel secret agent sequel mi6 Dan...

In [53]:
cv = CountVectorizer()

In [54]:
cnt_matrix = cv.fit_transform(dataset['combined_feature'])

In [55]:
cnt_matrix

<181x1652 sparse matrix of type '<class 'numpy.int64'>'
	with 4124 stored elements in Compressed Sparse Row format>

In [56]:
cnt_matrix.shape

(181, 1652)

In [57]:
cos_sim = cosine_similarity(cnt_matrix)

In [58]:
user_search = 'Avatar'

In [59]:
movie_index = get_index(user_search)
movie_index

123

In [60]:
similar_movies = list(enumerate(cos_sim(movie_index)))

TypeError: 'numpy.ndarray' object is not callable

In [61]:
sort_list_formovies = sorted(similar_movies , key = lambda x:x[1] , reverse = True)

NameError: name 'similar_movies' is not defined

In [37]:
cnt = 0
for i in sort_list_formovies:
    print(get_title(i[0]))
    cnt = cnt + 1
    if cnt>20:
        break

NameError: name 'sort_list_formovies' is not defined